@{
    ViewBag.Title = "Spendings";
}


<div id="root"></div>

@Scripts.Render("~/Scripts/React/dist/bundle.js")

<a href='@Url.Action("Index", "Home")'>
    <img src='@Url.Content("~/Content/Images/refresh.png")' />
</a>

