@{
    ViewBag.Title = "Spendings";
}

    <p style="color: red; font-weight: bold">@ViewBag.ErrorMessage</p>

@if (Session["myFinanceApp-Authentication"] != null && Session["myFinanceApp-Authentication"].ToString() == ViewBag.Pwd)
{
    <div id="root"></div>
    @Scripts.Render("~/Scripts/React/dist/bundle.js")

    <a href='@Url.Action("Index", "Home")'>
        <img src='@Url.Content("~/Content/Images/refresh.png")' />
    </a>
}
else
{
    using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="number" class="form-control" name="pwd" placeholder="Enter passcode" />
            <input type="submit" class="btn btn-primary" value="Enter App" />
        </div>
    }
}