
@using MyFinances.Enums
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@Html.Action("SpendingsSummaryChart", new { frequency = DateFrequency.CurrentYear })
@*@Html.Action("SpendingsSummaryChart", new { frequency = DateFrequency.PreviousYear })*@
