@model IEnumerable<MyFinances.Model.Finance>
@{
    ViewBag.Title = "My Finances";
}

<h1>My Finance</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No Finances found</td>
            </tr>
        }
    </tbody>
</table>