@model MyFinances.Website.ViewModels.ErrorVM
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="mvcView">
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <strong> @Model.Exception.Message</strong>
            &#8594; <a href="https://staxmanade.com/ExceptionMessageBeautifier/?ex=@Uri.EscapeUriString(Model.Exception.ToString())" target="_blank">Details</a>
        </div>
    </div>
</body>
</html>
