<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="DFM.ExceptionHandling.Sentry.Url" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://487a977ceb524c998e404c39378c7120@sentry.io/5243946" />
    <add key="DFM.ExceptionHandling.Sentry.Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Prod" />
    <add key="MonzoClientId" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="oauth2client_00009v00YA4vUd8hVYOe0X" />
    <add key="MonzoClientSecret" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="mnzconf.+xQjYFQdX7hL8hN+TWoobEiKgNacHmk85DYTJPhkGMekMx+i8CfFlnAErugpde3SHFKzrKWlWM8qs+VQxNcV" />
    <add key="RootUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://finance.karim-ali.co.uk" />
  </appSettings>
  <connectionStrings>
    <!--<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             name="SQLConnectionString"
             connectionString="Data Source=localhost;Initial Catalog=myfinances;User Id=karim; password=VwXe1Sl7iIvNdgqc;integrated security=false;application name=MyFinances production;Connection Timeout=60;Min Pool Size=5;Connection Lifetime=60"
             providerName="System.Data.SqlClient" />-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             name="SQLConnectionString"
             connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=DB_A55CDA_myfinanceapp;User Id=DB_A55CDA_myfinanceapp_admin;Password=xra63400;integrated security=false;application name=MyFinances production;Connection Timeout=60;Min Pool Size=5;Connection Lifetime=60"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
