<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="DFM.ExceptionHandling.Sentry.Url" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://e0d71075d6044a46a3ce2fca6141655f@sentry.io/1473195" />
    <add key="DFM.ExceptionHandling.Sentry.Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Test" />
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             name="SQLConnectionString"
             connectionString="Data Source=localhost;Initial Catalog=test.MyFinances;User Id=MyFinances; password=VwXe1Sl7iIvNdgqc;integrated security=false;application name=MyFinances production;Connection Timeout=60;Min Pool Size=5;Connection Lifetime=60"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
